.java-section{}
.wrapper{
    min-height: 60px;
}
.wrapper h2{}
.wrapper p{}
.cus-btn{
    padding: 10px 20px;
    margin-top: 20px;
    color: black;
   
}
.imgd{
    margin-top: 20px;
}



